<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <title>VueJS</title>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="(ingredient, index) in ingredients" :key="ingredient">{{ ingredient }} ({{ index }})</li>
        </ul>
        <button @click="addIngredient">Add new  </button>
        <hr>
        <ul>
            <li v-for="person in persons">
                <div v-for="(value, key, index) in person">
                    {{ key }} : {{ value }} ({{ index }})
                </div>
            </li>
        </ul>
        <span v-for="number in 10">{{ number }}</span>
        <hr>
        <template v-for="(ingredient, index) in ingredients">
            <h1>{{ ingredient }}</h1>
            <p>{{ index }}</p>
        </template>
    </div>

<script>
    new Vue({
        el: '#app',
        data: {
            ingredients: ['meat', 'fruit', 'cookies'],
            persons: [
                {
                    name: 'Max',
                    age: 27,
                    color: 'red'
                },
                {
                    name: 'Anna',
                    age: 'unknown',
                    color: 'blue'
                }
            ]
        },
        methods: {
            addIngredient: function() {
                this.ingredients.push('spices');
            }
        }
    });
</script>
</body>
</html>